/* App.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif; /* Use an old-style font */
}

body {
  background: url('../public/wood-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* App Container */
.App {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

/* Header */
.App-header {
  margin-bottom: 20px;
  margin-top: 10rem;
}

.logo {
  width: 18rem;
}

.App-header h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

/* Banner */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url('../public/wood-plank.jpg') no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000; /* Ensure the banner is on top of other elements */
}

.banner img {
  height: 50px;
  margin-right: 20px;
}

.banner h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 20px;
  border: 10px solid #8b4513; /* Dark brown border */
  border-radius: 15px;
  background: url('../public/parchment-background.jpg');
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Message Styling */
.user-message,
.bot-message {
  padding: 10px 15px;
  margin-bottom: 1rem;
  text-align: left;
  border-radius: 20px;
  width: fit-content;
  max-width: 80%;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  color: #333;
  font-family: 'Courier New', Courier, monospace; /* Monospace font for messages */
}

.user-message {
  align-self: flex-end;
  float: right;
  border-bottom-right-radius: 0px;
  background-color: rgba(139, 69, 19, 0.8); /* Light blue for user message */
  color: #000;
}

.bot-message {
  align-self: flex-end;
  float: left;
  border-bottom-left-radius: 0px;
  background-color: rgba(255, 248, 220, 0.8); /* Cornsilk color for bot message */
  color: #000;
}

/* Form Styling */
form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #8b4513;
  border-radius: 20px;
  font-size: 16px;
  background-color: rgba(255, 248, 220, 0.8); /* Match the bot message color */
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #8b4513; /* Dark brown button */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5a3310; /* Darker shade on hover */
}
