/* App.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif; /* Use an old-style font */
}

body {
  background: url('../public/wood-background.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* App Container */
.App {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

/* Header */
.App-header {
  margin-bottom: 20px;
  margin-top: 4rem;
}

.logo {
  width: 18rem;
}

.App-header h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

/* Banner */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url('../public/wood-plank.jpg') no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.4);
  z-index: 1000; /* Ensure the banner is on top of other elements */
}

.banner img {
  height: 50px;
  margin-right: 20px;
}

.banner h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card-container { /* Left */
  justify-content: center;
  flex: 1; /* Flex-grow: Takes up available space */
  padding: 20px;
}

.chat-container { /* Right */
  justify-content: center;
  flex: 1; /* Flex-grow: Takes up available space */
  padding: 20px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}